.alert {
    z-index: 1051;
}
.alert-bar > div {
    height: 5px;
    border-radius: 3px;
    animation: alertBar 5s linear forwards;
}
@keyframes alertBar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(102%);
    }
}